<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fstg.deafinterepter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--    <uses-feature android:name="android.hardware.camera.front" />-->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeafInterepter">
        <activity
            android:name=".ui.TranslateActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginTutorActivity" />
        <activity android:name=".ui.EditTutorActivity" />
        <activity android:name=".ui.RegisterTutorActivity" />
        <activity android:name=".ui.InfoTutorActivity" />
        <activity android:name=".ui.ForgotPassword" />
        <activity android:name=".ui.MainActivity">

        </activity>
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.AllTutorActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.RegisterActivity" />
    </application>

</manifest>